body {
	margin:0;
}


#facets {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 3px;
}

#map {
    margin: 0;
    position: absolute;
    width:100%;
    top:0;
    bottom: 0;
}