body {
	margin:0;
}

#st-trigger-effects {
    position: absolute;
    left: 10px;
    top: 70px;
}

.st-content-inner {
    width:100%;
    height:100%;
}

.main.clearfix {
    max-width:100% !important;
    height:100% !important;
}

#facets {
    right: 10px;
    top: 10px;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 3px;
}

#map {
    margin: 0;
    width:100%;
    height:100%;
}

.main {
    margin: 0;
    position: absolute;
    width:100%;
    top:0;
    bottom: 0;
}

select {
    font-size: 16px;
}

.leaflet-popup-content {
    line-height: 1.5em;
    font-size: 14px;
}

.event_name {
    font-size: 1.5em;
    font-weight: bold;
}

.st-menu {
    background: #272B34 !important;
}

button {
    position: absolute;
    background: #272B34 !important;
}

button:hover {
    background: #000 !important;
}